---
layout: splash
author_profile: true
header:
  overlay_color: "#000"
  overlay_filter: "0.5"
  overlay_image: /images/poreMOF.png
  caption: "Image: Electrostatic Potential in a pore of a MOF."
excerpt: "Blog from a computational chemist in process of virtual combustion."
feature_row:
  - image_path: /images/voZoom.png
    alt: "Google Scholar"
    title: "Google Scholar"
    excerpt: "List of my latest publications."
    url: "https://scholar.google.com.mx/citations?user=i1XMM9IAAAAJ&hl=es"
    btn_label: "Click here"
    btn_class: "btn--primary"
  - image_path: /images/sio2_cells.png
    alt: "Trabajo Inv. 2"
    title: "Trabajo Inv. 2"
    excerpt: "Slides used on my last PhD follow-up meeting."
    url: "/Trabajo2Doc/tinv2-1.svg"
    btn_label: "Click here"
    btn_class: "btn--primary"
  - image_path: /images/top.png
    title: "Code"
    excerpt: "List of programming projects."
    url: "/code/"
    btn_label: "Click here"
    btn_class: "btn--primary"
feature_row2:
  - image_path: /images/cubin.png
    alt: "Thanks for coming!"
    title: "Thanks for coming!"
    excerpt: 'See you next time :).'
---

{% include feature_row id="intro" type="center" %}

{% include feature_row %}

{% include feature_row id="feature_row2" type="center" %}
